
    <div class="row">
        <div class="col-md-12">
            <p class="text-justify text-center" style="font-family: Pacifico; font-size: 50px; margin-top: 40px; margin-bottom: 50px;">Room of Chat</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div #chatWindow class="card card-body bg-light" style="height: 300px; overflow-y: scroll;">

            </div>
            <div style="position: relative; padding-top: 20px;"><span *ngIf="chatService.someoneIsTyping"><img
                        style="position: absolute; width: 25px; display: block; bottom: 0px;"
                        src="https://riojournal.com/i/simple_loading.gif" alt=""></span></div>

            <form (ngSubmit)="sendMessage()">
                <input (keyup)="setOffTyping()" type="text" name="currentMessage" class="form-control"
                    [(ngModel)]="currentTextInput" [placeholder]="placeholderText" autocomplete="off" />
                <br />
                <button type="submit" class="btn btn-primary btn-sm">Send Message</button>
                <button *ngIf="!toggled" (click)="setUsername()" class="btn btn-outline-success btn-sm">Set Nickname</button>
            </form>
        </div>
        <div class="col-md-2 card card-body bg-light" style="height:fit-content;">
            <div *ngIf="listOfUsers.length>0">
                <span style="font-weight: bold;">Connected Users:</span>
                <Ul>
                    <li *ngFor="let user of listOfUsers">{{user}}</li>
                </Ul>
            </div>
        </div>

    </div>

<!-- chatService.someoneIsTyping -->